#column{
     position: relative;
     left: 500px;
     width: 350px;
     padding:10px;
     margin-top: 0cm;
 }
 .highlight {
    background-color: rgb(145, 118, 45);
  }
  code{
    background-color: rgb(255, 240, 254);
    border-radius: 20% ;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 20 5px;
  }  
  form{
   font-family: 'Courier New', Courier, monospace;
  }
  div{
    margin-bottom: 10px;
  }
  fieldset{
    background-color: rgb(226, 43, 217);
  }
  legend {
    padding: 5px;
    background: blue;
    color: cyan;
  }
  button{
    background-color: bisque;
  }
  
